<div class="container">
	<ol class="breadcrumb">

		{% for breadcrumbMenuItem in breadcrumbMenu %}
			{% if breadcrumbMenuItem.getUrl %}
				<li><a href="{{ breadcrumbMenuItem.getUrl }}">
			{%  endif %}
				{{ breadcrumbMenuItem.getText }}</a></li>
		{% endfor %}
	</ol>
</div>
