<div class="btn-group-vertical" role="group" aria-label="sidebar">
	<button type="button" class="btn btn-default">Link</button>
	<button type="button" class="btn btn-default">link</button>
	<button type="button" class="btn btn-default">link</button>
	<button type="button" class="btn btn-default">link</button>
	<button type="button" class="btn btn-default">link</button>

	<div class="btn-group" role="group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Dropdown-Menü
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
			<li><a href="#">Dropdown-Link</a></li>
			<li><a href="#">Dropdown-Link</a></li>
		</ul>
	</div>

	<button type="button" class="btn btn-default">link</button>
	<button type="button" class="btn btn-default">link</button>
</div>