{% extends '/_layouts/pageWithSidebar.twig' %}

{% block main %}

	{% include '/Home/_Parts/carousel.twig' %}

	<div class="container marketing">

		<div class="row">
		{% include '/Home/_Parts/trippleTeaser.twig' %}
		</div>

		<!-- Präsentationsspalten -->

		<div class="row">
			{% include '/Home/_Parts/productGroupTeaser.twig' %}
		</div>

	</div><!-- /.container -->
	<!-- Marketing-Botschaften und Präsentationsspalten
	================================================== -->
	<!-- Der Rest der Seite wird in einem anderen Container verpackt, um den Inhalt schön zu zentrieren. -->

{% endblock %}
