{% extends '/_layouts/pageWithSidebar.twig' %}

{% block content %}

    {% include '/ProductList/Parts/Paginator.twig' with { 'paginator' : productList.getPaginator } %}

    <div class="row">

        {% for productItem in productList %}
            {% include '/ProductList/Parts/ProductListItem.twig' with { 'productItem' : productItem } %}
        {% endfor %}

    </div>

    {% include '/ProductList/Parts/Paginator.twig' with { 'paginator' : paginator } %}

{% endblock %}