<div class="container main-Content">
    <div class="row">
        <div class="col-xs-12">


            <div class="container">
                <h1>Sonderaktionen!</h1>
                <p>belegen Sie ihre Pizza selbst und sparen Sie!</p>

                <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Mehr erfahren</a></p>-->

                <!--<div class="row">
                    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                </div>-->


                    <div class="row">

                    <div class="col-xs-2 col-sm-2 col-md-3 col-lg-2">
                        <div class="thumbnail">
                            <img class="img-responsive" src="img/Salami_1.jpg" alt="Salami">
                            <div class="caption">
                                <h4>Pizza Salami</h4>
                                <p>...</p>
                                <span>24 cm</span>
                                <p><a href="#" class="btn btn-primary" role="button">Extra Belag</a> <a href="#"
                                                                                                        class="btn btn-default"
                                                                                                        role="button">Ansehen</a>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-2 col-sm-2 col-md-3 col-lg-2">
                        <div class="thumbnail">
                            <img class="img-responsive" src="img/Tuna_2.jpg" alt="Thunfisch">
                            <div class="caption">
                                <h4>Pizza Thunfisch</h4>
                                <p>...</p>
                                <span>24 cm</span>
                                <p><a href="#" class="btn btn-primary" role="button">Extra Belag</a> <a href="#"
                                                                                                        class="btn btn-default"
                                                                                                        role="button">Ansehen</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-3 col-lg-2">
                        <div class="thumbnail">
                            <img class="img-responsive" src="img/Magherita_3.jpg" alt="Magherita">
                            <div class="caption">
                                <h4>Pizza Magherita</h4>
                                <p>...</p>
                                <span>24 cm</span>
                                <p><a href="#" class="btn btn-primary" role="button">Extra Belag</a> <a href="#"
                                                                                                        class="btn btn-default"
                                                                                                        role="button">Ansehen</a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-2 col-sm-2 col-md-3 col-lg-2">
                        <div class="thumbnail">
                            <img class="img-responsive" src="img/Magherita_3.jpg" alt="Magherita">
                            <div class="caption">
                                <h4>Pizza Magherita</h4>
                                <p>...</p>
                                <span>24 cm</span>
                                <p><a href="#" class="btn btn-primary" role="button">Extra Belag</a> <a href="#"
                                                                                                        class="btn btn-default"
                                                                                                        role="button">Ansehen</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <!--</div>-->


</div>
</div>
</div>

