<style>
</style>


<div class="navbar-wrapper">
	<div class="container-fluid">
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Navigation ein-/ausblenden</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Pizza - Mamamia</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Aktionen <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Tagesangebot</a></li>
								<li><a href="#">Oktoberfest</a></li>
								<li><a href="#">Halloween</a></li>
							</ul>
						</li>

						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pizza <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Salami</a></li>
								<li><a href="#">Hawai</a></li>
								<li><a href="#">Thunfisch</a></li>
								<li><a href="#">Margarita</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nudeln <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Spagetti Bolognese</a></li>
								<li><a href="#">Makaroni</a></li>
								<li><a href="#">Spagettini Napoli</a></li>
								<li><a href="#">Spirelli</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fingerfood <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Chicken Nuggets</a></li>
								<li><a href="#">...</a></li>
								<li><a href="#">...</a></li>
								<li><a href="#">...</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Salat <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Gemüsesalat</a></li>
								<li><a href="#">Tomatem-Mozarella</a></li>
								<li><a href="#">Bunter Käsesalat</a></li>
								<li><a href="#">Rote Beete</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dessert <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Tiramisu</a></li>
								<li><a href="#">Beeren-Joghurt</a></li>
								<li><a href="#">Erdbeerbecher</a></li>
								<li><a href="#">Melonen-Trio</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Getränke <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">Kalte Getränke</li>
								<li><a href="#">Coca Cola</a></li>
								<li><a href="#">Fanta</a></li>
								<li><a href="#">Minerallwasser</a></li>
								<li role="separator" class="divider"></li>
								<li class="dropdown-header">Warme Getränke</li>
								<li><a href="#">Kaffe</a></li>
								<li><a href="#">Cappuchino</a></li>
								<li><a href="#">Tee</a></li>
							</ul>
						</li>
					</ul>
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#">Link</a></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Konto <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#">...</a></li>
									<li><a href="#">...</a></li>
									<li><a href="#">...</a></li>
									<li><a href="#">...</a></li>
								</ul>
							</li>
						</ul>
					</ul>
				</div>
			</div>
		</nav>

	</div>
</div>