<style>
    .main-footer{
        background-color: green;

        margin-top:0em;
        padding-top:1.05em;
        padding-bottom:1em;
    }

    .main-footer{
        padding-left:7em;
        color: white;
    }

    .footerueberschrift{
        color: #ffb84c;
    }

    a{
        color: white;
    }

    .brotkruemmel{
        padding-top: 8em;
    }

</style>

<div class="main-footer">
    <div class="row">

        <div class="col-xs-12 col-sm-8 col-lg-4">
            <h3 class="footerueberschrift"><span class="glyphicon glyphicon-user"></span> Kontakt</h3>
            <h4>Pizza - Mamamia GmbH</h4>
            <p>
                <span class="glyphicon glyphicon-phone-alt"> </span> 034199/77559
            </p>
            <p>
                <span class="glyphicon glyphicon-envelope"></span> <a href="mailto:info@pizza-mamamia.de">info@pizza-mamamia.de</a>
            </p>
        </div>

        <div class="col-xs-12 col-sm-8 col-lg-4">
            <h3 class="footerueberschrift">Wo gibt es uns</h3>
            <h4>Pizza - Mamamia GmbH</h4>
            <p>
                Straße
            </p>
            <p>
                Plz Ort
            </p>
        </div>

        <div class="col-xs-12 col-sm-8 col-lg-4">
            <p class="brotkruemmel"><a href="#">Impressum</a> | <a href="#">Facebook</a> | <a href="#">Twitter</a></p>

        </div>

    </div>
</div>
</div>