{% include '/_Parts/htmlHeader.twig' %}

{% include '/_Parts/mainMenu.twig' %}


{% include '/_Parts/mainHeader.twig' %}

{% include '/_Parts/mainContent.twig' %}

<h1>HALLO Welt {{ controllerName }} {{ actionName }}</h1>


{% include '/_Parts/mainFooter.twig' %}

{% include '/_Parts/htmlFooter.twig' %}