<!-- Karussell
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Positionsanzeige -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		{% for sliderItem in sliderList %}
		<div class="item{% if loop.first %} active{% endif %}">
			<img class="first-slide" src="{{ sliderItem.getPicture }}" alt="Erste Folie">
			<div class="container">
				<div class="carousel-caption">
					<h1 style="color:red;">{{ sliderItem.getHeadline }}</h1>
					<p>XX{{ sliderItem.getContent }}</p>
					<p><a class="btn btn-lg btn-primary" href="#" role="button">{{ sliderItem.getLinkText }}</a></p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Zurück</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Weiter</span>
	</a>
</div><!-- /.carousel -->