{% extends '/_layouts/pageWithSidebar.twig' %}

{% block main %}
	<div class="container">
		{{ controllerName }} {{ actionName }}
		<h3>Detail Campaign</h3>
		<p></p>
		<p>Text und ganz viel geschreibenes Text und ganz viel geschreibenes Text und ganz viel geschreibenes Text und ganz viel geschreibenes Text und ganz viel geschreibenes</p>
	</div>
{% endblock %}
